@using BlazorChess.Shared.Models;

@implements IDisposable
<div class="grid">
    <main>

        <BoardComp Game="Game"></BoardComp>
    </main>
    <aside>
        <HistoryComp Game="Game"></HistoryComp>
    </aside>
    <ControlComp Game="Game"></ControlComp>
</div>



@code {

    [Parameter]
    public Game Game { get; set; }

    protected override void OnInitialized()
    {
        Game.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Game.OnChange -= StateHasChanged;

    }
}
