main{
    grid-area:board;
}
aside{
    grid-area:history;
    overflow-y:auto;
    background-color:gray;
    
}

.grid{
    display:grid;
    grid-template:"board history"/70fr 30fr;
    height:90vh;

}

