main{
    grid-area:board;
    height:0;
    /*padding-bottom:20%;*/
}
aside{
    grid-area:history;
    height:inherit;
}

.grid{
    display:grid;
    grid-template:
        "board history" 
        /70fr 30fr;
    height:90vh

}

