@using BlazorChess.Shared.Models;

@implements IDisposable
<div class="grid">
    <main>
        <BoardComp Game="Game"></BoardComp>
    </main>
    <aside>
        <HistoryComp Game="Game"></HistoryComp>
    </aside>
    <ControlComp Game="Game"></ControlComp>
</div>



@code {

    [Parameter]
    public Game Game { get; set; }

    private Game OldGame{ get; set; }

    protected override void OnParametersSet()
    {
        if(OldGame is not null)
        {
            OldGame.OnChange -= StateHasChanged;
        }
        Game.OnChange += StateHasChanged;
        OldGame = Game;
        Game.SetMoveToShowToCurrent();
    }


    public void Dispose()
    {
        Game.OnChange -= StateHasChanged;

    }
}
