@using BlazorChess.Shared.Models;

<ul>
    @for (int i = 0; i < Game.MovesMade.Count(); i++)
    {
        var i2 = i;
        <li>
            <p>@Game.MovesMade[i].</p>
            <button onclick="@(()=>{Game.MoveToShow = i2; Game.NotifyStateChanged();})">Show turn: @i</button>
        </li>
    }
</ul>




@code {
    [Parameter]
    public Game Game { get; set; }



}
