@using BlazorChess.Shared.Models;

<ul>
    <li>
        <button>Knight</button>
    </li>
    <li>
        <button>Bishop</button>
    </li>
    <li>
        <button>Rook</button>
    </li>
    <li>
        <button>Queen</button>
    </li>
</ul>

@code {
}
